<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div>
  <th:block th:each="msg : ${messages}">
    <h1 th:text="${msg}"></h1>
  </th:block>
</div>
</body>
</html>

<div class="input-group  ">
  <span class="input-group-text">¥</span>
  <input type="text" inputmode="decimal" style="text-align: center" class="form-control " placeholder="" id="templateButtonsRight_MP_cBdLN29i2">
  <button style="min-width: 2.5rem" class="btn btn-decrement btn-outline-secondary" type="button">
    <strong>−</strong></button>
  <button style="min-width: 2.5rem" class="btn btn-increment btn-outline-secondary" type="button">
    <strong>+</strong></button>
</div>